form {
    display: flex;
    flex-direction: column;
}

input {
    width: 292px;
    height: 30px;
    margin-bottom: 10px;
}

form button {
    width: 300px;
    height: 30px;
}

form label {
    display: flex;
    flex-direction: column;
}

.yup_error {
    font-size: 12px;
    color: red;
    margin-top: 0px;
    margin-bottom: 10px;
}

.view-techs-container {
    margin-top: 10px;
}

.tech-card {
    background-color: black;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}